body{
    font-family: 'Montserrat', sans-serif;
    background-image: url("images/bg-intro-desktop.png");
    background-color: #ff4c68;
}

/* Description Section */
.description{
    color: #fff;
    text-align: left;
    padding-top: 23%;
    font-weight: bold;
}
h1.main-header{
    font-size: 3rem;
    font-weight: bolder;
}

/* Interaction Section */
.interaction{
    padding-top: 8%;
    padding-bottom: 8%;
}

.sign-up-button{
    margin-bottom: 3%;
    background-color: #700B97;
    color: #fff;
    
}

.sign-up-button:hover{
    background-color: #8E05C2;
    
}

.form-inputs{
    background-color: #fff;
    padding: 5%;
    border-radius: 1%;
}


.form-component{
    display: block;
    width: 100%;
    margin-bottom: 5%;
    height: 50px;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
}

.claim-button{
    background-color: #57CC99;
    color: white;
    margin-bottom: 5%;
}

.claim-button:hover{
    background-color: #6ECB63;
}
.footer-text{
    text-align: center;
    font-size: 0.75rem;
}

.red-text{
    color: red;
}
